/* * {
  border: 1px solid red;
} */

#drinkImg {
  width: 200px;
}

#mealImg {
  width: 200px;
}

#mealImg, #drinkImg, img {
  width: 200px;
  height: 200px;
  float: left;
  margin-right: 10px;
}

.card {
  padding: 10px;
}
body{
  /* background-image: url("foodpic.jpg"); */
  background-size: cover;
  background-position: center;

}
